<!DOCTYPE html>
<html>
  <head>
    <title>Freedom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" type="text/javascript"></script>

  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <!--ここのリンクはもともと初期画面へのもの(root_path)だったが、home画面へのリンクに変更。ログインしているか否かでリンクを変える処理が今後必要となる。-->
        <% if logged_in? %>
          <%= link_to home_path do %> 
            <!--<span><%#= image_tag "Homeware And Living Logo.jpg" %></span>-->
            <span><%= image_tag "freedom.logo.png" ,class:"freedom_logo"%></span>
          <% end %>
        <% else %>
           <span><%= image_tag "freedom.logo.png",class:"freedom_logo" %></span>
        <% end %>
        
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li class="nav-info">
              ログイン中のユーザー: <%= @current_user.name %>
            </li>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <%= image_tag "logout.png" ,class:"logout"%>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <%= yield %>
    
    <script>
      $(function(){
        $(".alert").fadeOut(10000);
      });
      
      
    </script>
  </body>
</html>
